table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.div_Personal_Account{
  margin-top: 100px;
}

.movie_list_data {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


.fieldlabel {
    align-items:left;
    align-content: left;
    float: left;
    margin-left: 5%;
}

.hidden_verified_employeeLabel{
  visibility:hidden;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#cardSearchResult, #cardSearchBox{
  float: left;
  
}


.fieldInput{
    margin-left: 5%;
}



.buttonCard{
    width:80%;
    align-self: center;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
  }
  
  .page-title-span {
    margin-left: 10px;
  }
  
  .button-right-icon {
    margin-left: 10px;
  }
  
  /*Login Section */
  
  .login-cover {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 800;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #loginProgress {
    display: none;
  }
  
  #loginError {
    display: none;
  }
  

  /* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
.container{
  text-align: center;
  display: inline-block;
}